In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

os.chdir("/Users/vj/Documents/ALY6040-DataMining")

In [3]:
import pandas as pd
import os

# The directory where the CSV files are stored
csv_dir = '/Users/vj/Documents/ALY6040-DataMining'

# List all files in the directory
files = os.listdir(csv_dir)

# Filter the list down to only .csv files
csv_files = [file for file in files if file.endswith('.csv')]

# Initialize an empty list to store the data frames
dfs = []

# Loop over the list of csv files
for csv_file in csv_files:
    # Read each csv file into a data frame
    df = pd.read_csv(os.path.join(csv_dir, csv_file))
    
    # Append the data frame to the list
    dfs.append(df)

# Concatenate all data frames
df = pd.concat(dfs, ignore_index=True)

# Write the output to a new CSV file
df.to_csv('/Users/vj/Documents/ALY6040-DataMining/new.csv', index=False)

In [7]:
# Assuming your DataFrame is named 'df'
# Splitting the day and time from 'starttime' column
df['start_day'] = pd.to_datetime(df['starttime']).dt.date
df['start_time'] = pd.to_datetime(df['starttime']).dt.time

# Splitting the day and time from 'stoptime' column
df['stop_day'] = pd.to_datetime(df['stoptime']).dt.date
df['stop_time'] = pd.to_datetime(df['stoptime']).dt.time

df = df.drop(['starttime', 'stoptime'], axis=1)

In [8]:
df.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,postal code,start_day,start_time,stop_day,stop_time
0,803,46,Christian Science Plaza - Massachusetts Ave at...,42.343666,-71.085824,472,MIT Hayward St at Amherst St,42.360859,-71.085519,2088,Subscriber,02142,2022-11-01,00:00:04.994000,2022-11-01,00:13:28.655000
1,759,19,Park Dr at Buswell St,42.347241,-71.105301,52,Newbury St at Hereford St,42.348717,-71.085954,6889,Customer,NaN,2022-11-01,00:00:23.054000,2022-11-01,00:13:02.388000
2,1314,459,Canal St at Causeway St,42.365301,-71.060922,404,Mass Ave T Station,42.341356,-71.083370,3099,Customer,19454,2022-11-01,00:00:55.844000,2022-11-01,00:22:50.675000
3,541,30,Brigham Circle - Francis St at Huntington Ave,42.334629,-71.104079,5,Northeastern University - North Parking Lot,42.341814,-71.090179,7374,Subscriber,08802,2022-11-01,00:01:09.757000,2022-11-01,00:10:11.656000
4,478,554,Forsyth St at Huntington Ave,42.339202,-71.090511,360,Bartlett St at John Elliot Sq,42.329463,-71.090158,5108,Subscriber,02115,2022-11-01,00:01:29.230000,2022-11-01,00:09:27.636000